mixin video(video)    
    div
        h3
            a(href=`/videos/${video.id}`)=video.title
        ul
            li rating : #{video.rating} 
            li views : #{video.views} 
            li post : #{video.update} 
            li id : #{video.id} 